.root {
  position: relative;
  display: grid;
  grid-template-columns:
    1fr minmax(0, var(--plsmc-wide-chunk)) var(--plsmc-viewport-gap)
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    var(--plsmc-viewport-gap) minmax(0, var(--plsmc-wide-chunk)) 1fr;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  min-width: 0;
  height: 100%;
  min-height: 0;
  padding: 0;
}

:where(.root > *) {
  grid-column: 4;
}

@media (width >= 0) and (width <= 768px) {
  :where(.root > *) {
    grid-column: 4;
  }
}

.section {
  position: relative;
  display: grid;
  grid-row-gap: 16px;
  grid-column: 1 -1;
  grid-template-columns:
    1fr minmax(0, var(--plsmc-wide-chunk)) var(--plsmc-viewport-gap)
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    var(--plsmc-viewport-gap) minmax(0, var(--plsmc-wide-chunk)) 1fr;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  height: auto;
  padding: 96px 0;
}

:where(.section > *) {
  grid-column: 4;
}

@media (width >= 0) and (width <= 768px) {
  :where(.section > *) {
    grid-column: 4;
  }
}

.h1 {
  position: relative;
  width: 100%;
  min-width: 0;
  height: auto;
  margin-bottom: 32px;
}

.text {
  position: relative;
  width: 100%;
  min-width: 0;
  height: auto;
}
